parameters:
    level: 6
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    paths:
        - app
        - bootstrap/app.php
        - config
        - public/index.php
        - phpstan-bootstrap.php
        - tests
    excludePaths:
        analyse:
            - app/Modules/Core/views (?)
    tmpDir: /tmp/annabel-cms-phpstan
